html,body{
	margin:0;
	padding:0;
	width:100%;height:100%;
}
#entete{
	margin:0;padding:0;
	width:100%;height:50%;
	position:relative;
	overflow:hidden;
	background-color:transparent;
	z-index:1;
}
.video_entete{
	left:0;
	height:100%;
	position:absolute;
	z-index:0;
	width:100%;
	object-fit: cover;
	object-position: center;
}

.nomsite{
	font-size:50px;
	text-align:center;
	margin:0;
	padding-top:5%;
	color:#fff;
	position:relative;
	font-family: Scriptina, "Script MT Bold", "Sakkal Majalla";
	
}
#formauto{
	position:relative;
	border: 1px solid #FFF;
	border-left:none;border-right:none;
	background-color:rgba(000,000,000,0.2);
	width:70%; min-height:10%;
	text-align:center;
	margin-left:auto;margin-right:auto;
	padding:2%;
	
}
#motcle{
	height:30px;width:300px;
	border:none;padding-left:2px;
}
.btfind{
	height:30px;width:300px;
	border:none;background-color:#F30;
	color:#FFF;
}
#articles{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	padding:2%;
	vertical-align:middle;
}
#auto{
	border:1px solid #999;
	width:150px;
	min-height:200px;
	margin:10px;
	padding-left:20px;
	float:left;
}
#auto img{
	margin:5px;
	width:130px;
	height:100px;

}
#articles b{
	color: #E30509;
	
	
}

/* login*/

a{
	text-decoration:none;
}
#entete .login{
	opacity:0.8;
	color: white;
	padding:14px 20px;
	margin: 8px 0;
	border: 1px solid #F30;
	border-right:none;
	cursor: pointer;
	width:5%;
	right:0;
	position:absolute;
	z-index:10;
}
#entete .login:hover{
	opacity:1;background-color: #F30;border:none;
}

/*ici page login */
#container{
	width:400px;margin:0 auto;
	margin-top:10%;
}
#container h1{
	width: 38%;margin: 0 auto;
	padding-bottom: 10px;
}
.formulaire{
	width:100%;
	padding:30px;
	border: 1px solid #f1f1f1;
	background: #fff;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.25);

}

.zonetext{
	background-color: #f1f1f1;
	color: #080808;
	padding: 14px 1px;margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.submit{
    background-color: #F30;
	color: white;
	padding: 14px 20px;margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.submit:hover{
	background-color: white;
	color: #F30;
	border: 1px solid #F30;
}

#globl{
	width: 100%;padding: 5px;
	margin: 10px;
	
}
#globl #profil{
	width: 20%;padding: 10px;
	vertical-align: middle;text-align: center;
	min-height: 100px;
	display: inline-block;border: 1px solid #f1f1f1;
	background: #fff;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.25);
}
#globl #tableaubord{
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.2), 0 5px 5px 0 rgba(0,0,0,0.25);
	min-height: 100px;
	display: inline-block;border: 1px solid #f1f1f1;
	background: #fff;
	width: 70%;vertical-align: middle;
	padding: 20px;margin: 5px;
}
table{
	caption-side: bottom;
}
th,td{
	border: none;
	padding:10px;
	
}
th{
	border: none;
	background-color: #F30;
	padding: 10px;
}
.photocar{
	width: 130px;height: 100px; border-radius: 5%;border :1px solid;
}






























